%h1 Listing members

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Sex
      %th Age
      %th Birthdate
      %th Address
      %th Phone number

  %tbody
    = render partial: 'member', collection: @members, as: :member

= link_to 'New Member', new_member_path, class: 'btn btn-success' if can?(:create, Member)
